/*! _481up.scss */

/* ==========================================================================
   Content
   ========================================================================== */

/* Interest */
.interest {
	ul {
		column-count: 2;
		column-gap: 20px;
	}
}

/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
}
.social {
	li {
		padding: 0 0.5em;
	}
}