/**
 * _variables.scss
 */

/*
Typography
 */
/* Variables */
$gentium: 'Gentium Basic', Georgia, serif;
$open-sans: 'Open Sans', Helvetica, sans-serif;

/* Definitions */
$serif-font: $gentium;
$sans-font: $open-sans;

/*
Colors
 */
// brand color map function
@function brand-color($key: 'blue') {
  @return map-get($brand-colors, $key);
}

/* Variables */
$brand-colors: (
  'gray': #505050,
  'peach': #FF7260,
  'teal': #118C88
);

/* Definitions */
$body-font: $serif-font;
$heading-font: $sans-font;

$body-color: brand-color('gray');
$body-bg: darken($body-color, 10%);

$accent-color: brand-color('teal');
$link-color: brand-color('peach');

/* Social */
$twitter: #5EA9DD;
$github: lighten(#A8413B, 10%);
$instagram: #C4B5A2;

/*
Breakpoints
 */
$break-xs: 35rem !default;
$break-sm: 48rem !default;
$break-md: 62rem !default;
$break-lg: 75rem !default;
